{% extends 'base.html' %} {% block title %}About Us{% endblock title %} {% block bg %}customer{% endblock bg %} {% block cssFile %}allCustomer{% endblock cssFile %} {% block extraCss %}
<link rel="stylesheet" href="/static/home.css">{% endblock extraCss %} {% block body %}

<div class="aboutUs">
    <section class="contact">
        <div class="container text-center py-5">
            <h1 class="contact-us">This task is done by Chaudhary Hetavi</h1>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><img class="userID" src="https://img.freepik.com/free-vector/colourful-illustration-programmer-working_23-2148281410.jpg?t=st=1654279807~exp=1654280407~hmac=726c9767d7353c3e04e14440802717e73a42cc62a3c3e346baae982c740cc08c&w=740" alt="">
                    <p><br></p>
                    <!-- <p>
                        <h2>Chaudhary Hetavi Bhanwarlal</h2>
                    </p> -->
                    <ul>
                        <li>
                            <p class="myInfo">I'm Chaudhary Hetavi student of Information Technology at Dharmsinh Desai University.</p>
                        </li>
                        <li>
                            <p class="myInfo">In this task Front-end is build using HTML, CSS, JavaScript and Jquery.</p>
                        </li>
                        <li>
                            <p class="myInfo">
                                Back-end is done using Python and Django framework.
                            </p>
                        </li>
                        <li>
                            <p class="myInfo">DataBase used in this task is SQLite.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3"></div>


            </div>
        </div>
</div>
</section>
</div>
{% endblock body %}