{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block bg %}homePage{% endblock bg %} {% block cssFile %}home{% endblock cssFile %} {% block body %}

<!-- start body of home page  -->



<div class="bodyPart">

    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 welcomeMessage">
            <p>Welcome To Our Bank</p>
            <p class="button-ok"> <button type="button" class="btn btn-danger bt"><a  href="allCustomer">View List Of All Customers</a></button></p>
            <p class="button-ok"> <button type="button" class="btn btn-danger bt"><a  href="transfer">Transfer Money </a></button></p>

        </div>

        <div class="col-1 ">
        </div>
    </div>
</div>






{% endblock body %}