{% extends 'base.html' %} {% block title %}See All Transactions{% endblock title %} {% block bg %}customer{% endblock bg %} {% block cssFile %}allCustomer{% endblock cssFile %} {% block extraCss %}
<link rel="stylesheet" href="/static/home.css">{% endblock extraCss %} {% block body %}


<div class="moneyForm container">
    <div class="container text-center ">
        <h1 class="contact-us">All Transactions</h1>
    </div>
    <table class="table table-hover" style="background-color: rgba(247, 239, 239, 0.3);">
        <thead class="headPart">
            <th class="text-dark headPart">Transaction ID</th>
            <th class="text-dark headPart">Transferred From</th>
            <th class="text-dark headPart">Transferred To</th>
            <th class="text-dark headPart">Amount</th>
        </thead>
        <tbody>
            {% for data in transactions %}
            <tr class="text-dark info">
                <td>{{data.id}}</td>
                <td>{{data.fromTransfer}}</td>
                <td>{{data.toTransfer}}</td>
                <td>{{data.amount}}&nbsp; Rs.</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock body %}