{% extends 'base.html' %} {% block title %}Transfer Money{% endblock title %} {% block bg %}customer{% endblock bg %} {% block cssFile %}allCustomer{% endblock cssFile %} {% block extraCss %}
<link rel="stylesheet" href="/static/home.css">{% endblock extraCss %} {% block body %}




<div class="moneyForm container">
    <div class="container myName">
        <input type="submit" value="Transfer Money from {{myUser.name}}'s Account" class="myBtn btn btn-info">
    </div>
    <form action="transferAmount" method="post">
        {% csrf_token %}

        <table class="table table-hover moneyTable">
            <tr>
                <td class="thead">Transfer To:</td>
                <input type="hidden" name="transferBy" value="{{myUser.name}}">
                <td> <select class="myText" name="transferTo" id="">
                <option value="-1" id="user" class="required">Select Customer</option>
                {% for user in customer %}
                <option value="{{user.name}}">{{user.name}}</option>   
                {% endfor %}
            </select></td>
            </tr>
            <tr>
                <td class="thead">Amount:</td>
                <td>
                    <input type="text" id="amount" class="myText" name="amount" placeholder="Enter amount you want to transfer  in Rupees" onfocusout="checkAmount();"></td>
            </tr>

            <tr>

                <td colspan=" 2 ">
                    <!-- <input type="submit " value="Transfer Money " class=" btn btn-danger moneyBtn "> -->
                    <br>
                    <input type="submit" value="Transfer Money" class="btn btn-danger moneyBtn">
                    <a href="transferAmount "> </a>
                </td>
            </tr>
        </table>



    </form>
</div>
{% endblock body %}